<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .active {
      background-color: #aaa;
    }
  </style>
</head>

<body>
  <div id="app">
    <h2 :title="h2Title">{{title}}</h2>
    <course-list :courses="courses"></course-list>
    <p>{{courses.length+'门'}}</p>
    <p>{{coursesLen}}</p>
    <p>{{coursesLenWatch}}</p>
    <p>
      <input v-model="course" type="text" v-on:keypress.enter="addCourse" />
      {{course}}
      <button @click="addCourse">新增</button>
    </p>
  </div>
  <script src="vue.js"></script>
  <script>
    Vue.component('course-list', {
      data() {
        return {
          selectedCourse: '',
        }
      },
      props: {
        courses: {
          type: Array,
          default: [],
        }
      },
      template: `
        <div>
          <p v-if="courses.length === 0">没有信息</p>
          <div class="courses-list" v-else>
            <div v-for="c in courses" :key="c" :class="{active: selectedCourse === c}" @click="selectedCourse = c">
              <div>{{ c }}</div>
            </div>
          </div>
        </div>
      `
    })

    const app = new Vue({
      el: '#app',
      data() {
        return {
          title: '购物车',
          h2Title: 'test',
          courses: ['红宝书', 'javascript权威指南'],
          course: '',
          selectedCourse2: '',
          coursesLenWatch: 0,
        }
      },
      methods: {
        addCourse() {
          this.courses.push(this.course)
          this.course = ''
        }
      },
      computed: {
        coursesLen() {
          return this.courses.length + '门'
        }
      },
      watch: {
        courses: {
          immediate: true, // 初始化时立即执行
          deep: true, // 深度比较
          handler(newValue, oldValue) {
            this.coursesLenWatch = newValue.length + '门'
          }
        }
      },
    })
  </script>
</body>

</html>